#* @implicitly included *#
#* @vtlvariable name="teams" type="java.util.ArrayList" *#
#* @vtlvariable name="teamSplit" type="java.util.ArrayList" *#
#* @vtlvariable name="team" type="Team" *#
#* @vtlvariable name="userTeam" type="Team" *#
#* @vtlvariable name="displayText" type="java.lang.String" *#
#* @vtlvariable name="roster" type="java.util.ArrayList" *#
#* @vtlvariable name="player" type="Player" *#
#* @vtlvariable name="index" type="java.lang.Integer" *#
#* @vtlvariable name="managerName" type="java.lang.String" *#
#* @vtlvariable name="myTeamName" type="java.lang.String" *#
#* @vtlvariable name="careerRecord" type="java.lang.String" *#
#* @vtlvariable name="replacements" type="java.util.ArrayList" *#
#* @vtlvariable name="game1Score" type="java.util.ArrayList" *#
#* @vtlvariable name="game2Score" type="java.util.ArrayList" *#
#* @vtlvariable name="game3Score" type="java.util.ArrayList" *#
#* @vtlvariable name="winner1" type="Team" *#
#* @vtlvariable name="winner2" type="Team" *#
#* @vtlvariable name="winner3" type="Team" *#






