#parse("/velocity/game.vm")
#@mainLayout()

<p>
<center>


</center>

<br>
<form method="POST">

<table>
<tr>
<td valign="top">
<table summary="Tournament Bracket">
    <tr>
    <td>
	<ul class="round round-3">
		<li class="spacer">&nbsp;</li>
        #if($!game1Score.get(0))
            #if($!game1Score.get(0) > $!game1Score.get(1))
                <li class="game game-top winner">$teams.get(0).getName()<span>$!game1Score.get(0)</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom">$teams.get(3).getName() <span>$!game1Score.get(1)</span></li>
            #elseif($!game1Score.get(0) < $!game1Score.get(1))
                <li class="game game-top">$teams.get(0).getName()<span>$!game1Score.get(0)</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom winer">$teams.get(3).getName() <span>$!game1Score.get(1)</span></li>
            #end
        #else
            <li class="game game-top">$teams.get(0).getName()<span>$!game1Score.get(0)</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">$teams.get(3).getName() <span>$!game1Score.get(1)</span></li>
        #end

		<li class="spacer">&nbsp;</li>

        #if($!game2Score.get(0))
            #if($!game2Score.get(0) > $!game2Score.get(1))
                <li class="game game-top winner">$teams.get(1).getName() <span>$!game2Score.get(0)</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom">$teams.get(2).getName() <span>$!game2Score.get(1)</span></li>
            #elseif($!game2Score.get(0) < $!game2Score.get(1))
                <li class="game game-top">$teams.get(1).getName() <span>$!game2Score.get(0)</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom winner">$teams.get(2).getName() <span>$!game2Score.get(1)</span></li>
            #end
        #else
            <li class="game game-top">$teams.get(1).getName() <span>$!game2Score.get(0)</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom">$teams.get(2).getName() <span>$!game2Score.get(1)</span></li>
        #end

		<li class="spacer">&nbsp;</li>
	</ul>
	</td>

	<td>
	<ul class="round round-4">
		<li class="spacer">&nbsp;</li>

        #if($!game3Score.get(0))
            #if($!game3Score.get(0) > $!game3Score.get(1))
                <li class="game game-top winner">$!winner1.getName()<span>$!game3Score.get(0)</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom ">$!winner2.getName()<span>$!game3Score.get(1)</span></li>
            #elseif($!game3Score.get(0) < $!game3Score.get(1))
                <li class="game game-top">$!winner1.getName()<span>$!game3Score.get(0)</span></li>
                <li class="game game-spacer">&nbsp;</li>
                <li class="game game-bottom winner">$!winner2.getName()<span>$!game3Score.get(1)</span></li>
            #end
        #else
            <li class="game game-top">$!winner1.getName()<span>$!game3Score.get(0)</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom">$!winner2.getName()<span>$!game3Score.get(1)</span></li>
        #end

		<li class="spacer">&nbsp;</li>
	</ul>
	</td>

	<td>
	<ul class="round round-4">
		<li class="spacer">&nbsp;</li>

		<li class="game game-top winner">$!winner3.getName()<span>World Champions</span></li>

		<li class="spacer">&nbsp;</li>
	</ul>
	</td>

	<tr>
</table>

</table>



<p>
<center>
    #if(!$game1Score.get(0))
        <input type="submit" name="btn1" value="Play Playoffs">
    #else
        #if($!userTeam.getName() && $!winner3.getName() == $!userTeam.getName())
            <h3>Winner Winner Chicken Dinner!</h3><br>
        #end
        <input type="submit" name="btn2" value="Next Season">
    #end
    </center>
</form>

<center>

</center>
<p>
<center>
<table cellpadding="4">
<tr>
<td width="500">
</td>

</tr>
<tr>
<td colspan="2">
<p>
<div align=center>
</div>
<p>
</td>
</tr>
</table>
</center>

<p>
</font>
</center>
#end