#parse("/velocity/game.vm")
#@mainLayout()

<p>
<center>


</center>

<br>
<form method="POST">


<table>
<tr>
<td valign="top">
<!--IMPORTANT-->
#set($index = 1)
#foreach($team in $teams)
  #if ($team.getName().equals($myTeamName))
    <tr>
      <td><b>$index</b></td>
      <td><b>$team.getName()</b></td>
      <td><b>$team.getWin()</b></td>
      <td><b>$team.getLoss()</b></td>
    </tr>
  #else
    <tr>
      <td>$index</td>
      <td>$team.getName()</td>
      <td>$team.getWin()</td>
      <td>$team.getLoss()</td>
    </tr>
  #end

  #set($index = $index + 1)
#end

</tr>
</table>



<p>

    <center>
     #if ($teams.get(0).getWin()+$teams.get(0).getLoss()<=83)
        <input type="button" name="btn1" value="Run Month" onClick="window.location.reload()">
     #else
        <input type="submit" name="btn1" value="See Bracket">
     #end
    </center>
</form>



#end