#parse("/velocity/game.vm")
#@mainLayout()

<p>
<center>


</center>

<br>
<form method="POST">

<table>
<tr>
<td valign="top">
<tr><h3>Manager: $managerName</h3></tr><br>
<tr><h3>$team.getName()</h3></tr><br>
<tr>Pick 5 Players</tr>
<!--IMPORTANT-->
#foreach($player in $team.getTeam())
  <tr>
    <td>$player.getName()</td>
    <td>$player.getRating()</td>
    <td>$player.getAge()</td>
    <td><input type="checkbox" name="playerSelection" value="$player.getName()"></td>
  </tr>
#end
#foreach($player in $replacements)
  <tr>
    <td>$player.getName()</td>
    <td>$player.getRating()</td>
    <td>$player.getAge()</td>
    <td><input type="checkbox" name="playerSelection" value="$player.getName()"></td>
  </tr>
#end
</table>






<p>
<center>
    #if($pickFive)
        Pick 5 Players--
    #end
<input type="submit" name="btn1" value="Start your SZN">
</center>
</form>

<center>

</center>
<p>
<center>
<table cellpadding="4">
<tr>
<td width="500">
</td>

</tr>
<tr>
<td colspan="2">
<p>
<div align=center>
</div>
<p>
</td>
</tr>
</table>
</center>

<p>
</font>
</center>
#end