#parse("/velocity/game.vm")
#@mainLayout()

<p>
<center>


</center>

<br>
<form method="POST">


<table>
<tr>
<td valign="top">

#foreach($teams in $teamSplit)
    <td valign="top">
        #foreach($team in $teams)
            #if ($team.getName() == "Hiami Meat")
                <input type="radio" name="teamSelection" value="$team.getName()" checked="checked">$team.getName()<br>
            #else
                <input type="radio" name="teamSelection" value="$team.getName()" >$team.getName()<br>
            #end
        #end
    </td>
#end

</tr>
</table>



<input type="hidden" name="roster" value="8">
<p>
<center>
<input type="text" name="managerName" placeholder="Enter Manager Name"><br>
<input type="hidden" name="pickTeam" value="Select a Team">
<input type="submit" class="button" name="btn1" value="Pick A Team">
</center>
</form>

<center>

</center>
<p>
<center>
<table cellpadding="4">
<tr>
<td width="500">
</td>

</tr>
<tr>
<td colspan="2">
<p>
<div align=center>
</div>
<p>
</td>
</tr>
</table>
</center>

<p>
</font>
</center>
#end
